# This file lists dependencies required for developing this project. For
# runtime dependencies, please refer to `setup.py`.

yapf
# https://github.com/pypa/setuptools/issues/3772
setuptools<66.0
wheel
build
